<div class="container-lg">
   <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-4 ng-tns-c175-9 ng-star-inserted">
         <div class="card ng-tns-c175-9">
            <div class="card-body rounded-3 ng-tns-c175-9"
               style="background: linear-gradient(45deg, rgb(51, 39, 230) 0%, rgb(224, 12, 189) 100%);">
               <div class="row ng-tns-c175-9" style="height: 120px;">
                  <div style="display: grid; justify-content: center; align-items: center;" class="ng-tns-c175-9">
                     <img width="240" height="100" class="ng-tns-c175-1" src="assets/img/improve-digital-origin.svg" alt="Improve Digital Origin">  
                  </div>
               </div>
               <div class="row ng-tns-c175-9 ng-star-inserted" style="height: 60px; padding: 10px 10px 10px 10px;">
                  <div class="col-6 text-center ng-tns-c175-9">
                     <a target="_blank" class="btn btn-md btn-block btn-primary btn-custom w-100 rounded-3 ng-tns-c175-9"
                        href="#">Sign In</a>
                  </div>
                  <div class="col-6 text-center ng-tns-c175-9">
                     <a target="_blank"
                        class="btn btn-md btn-block btn-outline-dark btn-custom2 w-100 rounded-3 ng-tns-c175-9"
                        style="border-color: #ffffff; color: white;" href="#"> Discover
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>