


<div class="container">
    <div class="row">
       <div class="ng-star-inserted">
          <div class="card ng-tns-c175-9">
             <div class="card-body rounded-3 ng-tns-c175-9">
                
                <div class="chart-wrapper">
                    <canvas baseChart
                    [datasets]="bubbleChartData"
                    [options]="bubbleChartOptions"
                    [legend]="bubbleChartLegend"
                    [chartType]="bubbleChartType">
                  </canvas>
                </div>

             </div>
          </div>
       </div>
    </div>
 </div>